* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/*--Left side--*/
.sidebar {
  width: 20%;
  background-color: #f8f8f8;
  padding: 20px;
  border-right: 1px solid #ddd;
}

hr {
  color: #ddd;
}
.menu-item {
  margin-bottom: 15px;
}
.menu-item a {
  text-decoration: none;
  color: #333;
}

.menu-item ul li.active a {
  color: #5f0301;
  font-weight: bold;
}

.menu-item ul li a span.slave {
  font-size: 18px;
  color: #972323;
}

.menu-item ul li a span.std {
  font-size: 18px;
  color: #999;
}

.menu-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #8B0000;
  padding: 5px;
}

.menu-item ul {
  list-style: none;
  padding: 5px;
}

.menu-item ul li {
  margin-bottom: 15px;
}

.menu-item ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/*--Right side--*/
.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

header h1 {
  font-size: 24px;
  color: #b30000;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.history-section {
  margin-top: 20px;
}

.history-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.history-list,
.arrears-list {
  margin-bottom: 20px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.transaction img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.transaction-info {
  flex: 1;
}

.transaction-info strong {
  font-size: 16px;
}

.rank {
  font-size: 20px;
  font-weight: bold;
}

.arrow-up {
  color: green;
}

.arrow-down {
  color: red;
}

.view-more {
  text-align: right;
  margin-top: 10px;
}

.view-more a {
  color: #b30000;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #800000;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
